body {
  font-family: "Arial", sans-serif;
  background-color: blanchedalmond;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  margin-top: 100px;
  height: 100vh;
}

#quantity {
  display: flex;
  justify-content: center;
  cursor: pointer;
  margin-bottom: 20px;
  margin-left: 20px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-weight: bold;
}
.selectDog {
  width: 100%;
  display: flex;
  justify-content: center;

  margin-bottom: 20px;
  padding: 10px;
  font-size: 16px;
}

#selectDog {
  cursor: pointer;
  margin-bottom: 20px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-weight: bold;
  font-style: italic;
}

#dogImages {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  width: 100%;

  height: 400px;
}

img {
  top: 0;
  left: 50%;
  border: 5px solid bisque;
  border-radius: 40%;
  max-width: 250px;
  max-height: 250px;
  object-fit: cover;
  animation: fadeInUp 1s ease-in-out;
  margin: 10px;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateX(0) translateY(-20%);
  }
  100% {
    opacity: 1;
    transform: translateX(0) translateY(0);
  }
}
